@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
API result: @result



@code{
    string result;
    int times;

        protected override async Task OnInitializedAsync()
        {
            var httpClient = new HttpClient();
            result = await httpClient.GetStringAsync("/api/httptrigger1?name=Enoch");
        }


}